html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0%;
}

.slider {
  border-left: solid 1px black;
  height: 100%;
  width: 1%;
  position: absolute;
  top: 0;
  cursor: col-resize;
}

#slider1 {
  left: 32.33%;
}

#slider2 {
  left: 65.66%;
}